



#FormLogo{
    position: absolute;
  left: 20px;
    
}

label{
  font-weight: bold;
  font-size: 15px;
  te
  
}



h1 {margin: 0px;
    font-size: 40px;  
}




legend{
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  color: #000000;
  
}

fieldset {
    margin: 0;
    padding: 10px;
    text-align: center;

}


#JobApplication{
 text-align: center;
 justify-content: center;
 position: relative;
	background-color: #292626;
  color: #cf8f18;
  padding: 1%;
  grid-template-columns: 0%;
}


form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 0px;
}

.Kbal {
    grid-column: span 6 / span 6;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 1;
}

.div3 {
    grid-column-start: 1;
    grid-row-start: 3;
    padding: 0px;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

.div6 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 0;
    grid-row-start: 6;
}
        
 
        
    

        
 
        
        





