



#FormLogo{
    position: absolute;
  left: 20px;
    
}

label{
  font-weight: bold;
  font-size: 15px;
  
  
}



h1 {margin: 0;
    font-size:  40 px;  
}

h2 {color: gold; }

form {text-align: center;}

legend{
  font-weight: bold;
}

.content-area fieldset{
  display:grid;
  padding: 10px;
 grid-template-columns:auto auto auto\;

}
}

#JobApplication{
 text-align: center;
 justify-content: center;
 position: relative;
	background-color: #292626;
  color: #cf8f18;
  padding: 0%;
  grid-template-columns: 0%;
}





