





label{
  font-weight: bold;
  font-size: 15px;
  
}





legend {
    padding: 0 10px;
  font-weight: bold;
  text-align:center;
  font-size: 20px;
  color: green;
    text-decoration-line: overline;
  
}

fieldset {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-radius: 12px;
    border: 1px solid black;
    
    
    

}


#JobApplication{
 text-align: center;
 justify-content: center;
 position: relative;
  color: goldenrod;
  padding: 1%;
  grid-template-columns: 0%;
  margin: 0%;
  text-decoration-line: underline;
}


form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 12px;
    margin: 0 auto;
    width: max-content;
    outline: auto;
    border-radius: 12px;
    padding: 15px 20px;
    background-color: whitesmoke;
}

.Kbal {
    grid-column: span 2 / span 2;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 9;
    
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 11;
    grid-row-end: 12;
    
}

input {
    
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 12px;
    
}

input::placeholder{
    text-align: left;
    color: #888;
}

input[type="submit"]{

    background-color: lightgrey;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    
    padding: 10px 20px;
}

input[type="reset"] {
    background-color: lightgrey;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
}

input[type="submit"]:hover{
    background-color:  #7ccf5b;
}

input[type="reset"]:hover{
    background-color: red;
}
        
input[type="checkbox"] {cursor: pointer;
    
}

input[type="text"] {cursor: pointer;
}

input[type="radio"] {cursor: pointer;}






body{background-color: #f3fff3;}

input, select, textarea {
    background-color: #fffbe6;  
    border: 1px solid #cf8f18;   
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
}