/* links navigation styling */
nav.links {
    display: flex;
    align-items: center;
    /* vertically align logo + links */
    justify-content: center;
    /* pushes logo left, links right */
}

/* Tidies navbar */
nav.links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Ensures navbar is inline */
nav.links ul li {
    display: inline;
    margin-right: 20px;
}

/* Text Decoration for navbar */
nav.links ul li a {
    text-decoration: none;
    color: #cf8f18;
    font-weight: bold;
}

/* Sets logo size DON'T TOUCH */
.logo img {
    height: 80px;
    width: 80px;
}

.nav.links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav.links a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: 0.3s;
}

/* positions navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

/* Container positioning for navbar, Centers the navbar and gives background colour */
.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #292626;
}

.nav-actions {
    display: flex;
    gap: 20px;
    padding-right: 7%;
    font-size: 20px;
}

/* Creates space between page content and navbar */
.content-area {
    margin-top: 116px;
}