/* menu navigation styling */


ul { 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

/* Styling for the overarching container for each card to keep things uniform */
.card-container { 
  max-width: 80%;
  margin:50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:25px;
}
/* Each cards styling. Box shadow makes it easier to distinguish between cards */
.card {
    flex:1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
/* subtle hover effect */
.card:hover {
    transform: scale(1.05);

}

/* settings for the images for each card */
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-content {
    padding: 20px;

}

/* card content styling */
.card-content h3 {
    color: #026aa6;
    font-size: 27px;
    margin-bottom: 10px;
}
.card-content {
    color: #333;
    font-size: 17px;
}