ul { 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
  
.card-container {
    max-width: 80%;
}